footer
  section.book-subjects
    div.container
      div.book-subjects_row
        div.book-subjects_item
          h3 Biography & True Stories
          a(href="#").book-subjects_link General
          a(href="#").book-subjects_link Diaries, Letters & Journals
          a(href="#").book-subjects_link Memoirs
          a(href="#").book-subjects_link True Stories
          a(href="#").book-subjects_link Generic Exams
          a(href="#").book-subjects_link GK Titles
          a(href="#").book-subjects_link Medical Entrance
          a(href="#").book-subjects_link Other Entrance Exams
          a(href="#").book-subjects_link PG Entrance Examinations
          a(href="#").book-subjects_link Self-help Titles
          a(href="#").book-subjects_link Sociology
        div.book-subjects_item
          h3 Professional & Reference
          a(href="#").book-subjects_link Academic and Reference
          a(href="#").book-subjects_link Business Trade
          a(href="#").book-subjects_link Engineering and Computer Science
          a(href="#").book-subjects_link Humanities, Social Sciences and Languages
          a(href="#").book-subjects_link Introduction to Computers
          a(href="#").book-subjects_link Science and Maths
          a(href="#").book-subjects_link Trade Business
          a(href="#").book-subjects_link English Language & Literature
          a(href="#").book-subjects_link English Language Teaching
          a(href="#").book-subjects_link Environment Awarenrss
          a(href="#").book-subjects_link Environment Protection
        div.book-subjects_item
          h3 Earth Sciences
          a(href="#").book-subjects_link Earth Sciences
          a(href="#").book-subjects_link Geography
          a(href="#").book-subjects_link The Environment
          a(href="#").book-subjects_link Regional & Area Planning
          a(href="#").book-subjects_link Fantasy
          a(href="#").book-subjects_link Gay
          a(href="#").book-subjects_link Humorous
          a(href="#").book-subjects_link Interactive
          a(href="#").book-subjects_link Legal
          a(href="#").book-subjects_link Lesbian
          a(href="#").book-subjects_link Men'S Advebture
        div.book-subjects_item
          h3 Mathematics
          a(href="#").book-subjects_link Algebra
          a(href="#").book-subjects_link Differential Equations
          a(href="#").book-subjects_link Discrete Mathematics
          a(href="#").book-subjects_link Fourier Analist
          a(href="#").book-subjects_link Numerical Analysis
          a(href="#").book-subjects_link Probability
          a(href="#").book-subjects_link Statistical Methods/date Analist
          a(href="#").book-subjects_link Stochastic And Random Prosses
          a(href="#").book-subjects_link Topology
          a(href="#").book-subjects_link Statistics
          a(href="#").book-subjects_link Mathematics
  section.pay-info
    div.container
      div.pay-info_row
        p We accept all major Credit Card/Debit Card/Internet Banking
        div.pay-carts
          img(src="../../img/cart1.png")
          img(src="../../img/cart2.png")
          img(src="../../img/cart3.png")
  section.conditions-info
    div.container
      div.conditions-info_row
        p Conditions of Use Privacy Notice © 2012-2013, Booksonline, Inc. or its affiliates
