section.page-menu_row 
  div.container 
    nav.page-menu 
      a(href="#").page-menu_link Computers
      a(href="#").page-menu_link Cooking
      a(href="#").page-menu_link.active Education
      a(href="#").page-menu_link Fiction
      a(href="#").page-menu_link Health
      a(href="#").page-menu_link Mathematics
      a(href="#").page-menu_link Medical
      a(href="#").page-menu_link Reference
      a(href="#").page-menu_link Science


