section.promo
  div.container
    div.promo_row
      div.banner
        div.arrow-left
          img(src="../../img/promo/arrow-left.png")
        img(src="../../img/promo/Banner.png")
        div.arrow-right
          img(src="../../img/promo/arrow-right.png")
      div.special-offer-block
        img(src="../../img/promo/deal of the month.png")
