div.sidebar 
  h3 Categories
  a(href="#").sidebar-link.active.category ALL
  a(href="#").sidebar-link.category Fiction & Literature
  a(href="#").sidebar-link Children
  a(href="#").sidebar-link Science Fiction
  a(href="#").sidebar-link Fantasy
  a(href="#").sidebar-link Mystery
  a(href="#").sidebar-link Romance
  a(href="#").sidebar-link Horror
  a(href="#").sidebar-link Poetry
  a(href="#").sidebar-link Literature
  a(href="#").sidebar-link Crime
  a(href="#").sidebar-link.category Non - Fiction
  a(href="#").sidebar-link Comic
  a(href="#").sidebar-link Cook
  a(href="#").sidebar-link Psychology
  a(href="#").sidebar-link Medical
  a(href="#").sidebar-link Art
  a(href="#").sidebar-link Photography
  a(href="#").sidebar-link Law
  a(href="#").sidebar-link History
  a(href="#").sidebar-link Business
  a(href="#").sidebar-link Computer
  a(href="#").sidebar-link Other
  a(href="#").sidebar-link Baby
  a(href="#").sidebar-link Sex
  a(href="#").sidebar-link Travel
  a(href="#").sidebar-link Science
  a(href="#").sidebar-link Sports
